= link_to    "/movies/#{movie.id}", class: "content" do
  = image_tag "#{movie.image}", class: "content__image"
  .content__title
    = movie.title
  .content__like
    いいね：
    = movie.liked_users.count