<%= link_to movie_path(movie), class: "movie-card-grid" do %>
  <div class="movie-card-grid__image-container">
    <%= image_tag movie.image_url, class: "movie-card-grid__image" %>
  </div>
  <div class="movie-card-grid__info">
    <div class="movie-card-grid__title"><%= movie.title %></div>
    <div class="movie-card-grid__meta">
      <span class="likes">
        <i class="fa fa-heart"></i>
        <%= movie.likes_total %>
      </span>
      <span class="category"><%= movie.category %></span>
    </div>
  </div>
<% end %>
