<article class="movie-card <%= 'movie-card--ranked' if local_assigns[:rank].present? %>">
  <%= link_to movie_path(movie), class: "movie-card__link" do %>
    <div class="movie-card__poster-wrap">
      <% if local_assigns[:rank].present? %>
        <span class="movie-card__rank"><%= rank %></span>
      <% end %>
      <%= movie_poster_tag(movie, class_name: "movie-card__poster") %>
    </div>
    <div class="movie-card__body">
      <h2 class="movie-card__title"><%= movie.title %></h2>
      <p class="movie-card__director">監督: <%= movie.director %></p>
      <div class="movie-card__meta">
        <span class="movie-card__category"><%= movie.category %></span>
        <span class="movie-card__likes"><%= movie_likes_text(movie) %></span>
      </div>
    </div>
  <% end %>
</article>
