<div class="content-row">
  <div class="container">
    <%= form_with(model: @movie, local: true) do |form| %>
      <%= render 'layouts/error_messages', model: form.object %>
      <h3>映画投稿の編集</h3>
      <%= form.text_field :title, placeholder: "映画タイトル", class: "container--name" %>
      <%= form.text_field :original_title, placeholder: "原題（任意）", class: "container--name" %>
      <%= form.text_field :director, placeholder: "監督名", class: "container--director" %>
      <%= form.text_field :category, placeholder: "ジャンル", class: "container--category" %>
      <%= form.text_field :youtube_url, placeholder: "YouTubeのURL", class: "container--youtube" %>
      <%= form.text_area :detail, placeholder: "映画詳細", rows: "10", class: "container--detail" %>
      <%= form.label :image, class: 'container--image' do %>
        <span>画像を変更</span>
        <%= form.file_field :image, class: 'hidden' %>
      <% end %>

      <%= form.submit "更新する", class: "container--btn" %>
    <% end %>
  </div>
</div>
