.content-row
  .container
    = form_with(model: @movie, local: true) do |form|
      = render 'layouts/error_messages', model: form.object
      .h3
      ж–°иҰҸжҳ з”»жҠ•зЁҝ
      = form.text_field :title, placeholder: "жҳ з”»гӮҝгӮӨгғҲгғ«", class: "container--name"
      = form.text_field :director, placeholder: "зӣЈзқЈеҗҚ", class: "container--director"
      = form.text_field :category, placeholder: "гӮёгғЈгғігғ«", class: "container--category"
      = form.text_field :youtube_url, placeholder: "YouTubeгҒ®URL", class: "cantainer--youtube"
      = form.text_area :detail, placeholder: "жҳ з”»и©ізҙ°" , rows: "10", class: "container--detail"
      = form.label :image, class: 'container--image' do
        = icon('fas', 'image', class: 'icon')
        = form.file_field :image, class: 'hidden'

      = form.submit "ж–°иҰҸжҳ з”»жҠ•зЁҝ", class: "container--btn"