.profile-page
  .profile-header
    .profile-header__avatar= @user.nickname[0]
    .profile-header__info
      %h1.profile-header__name= @user.nickname
      %p.profile-header__sub メンバー

  .profile-section
    %h2.profile-section__title
      = "#{@user.nickname}さんの投稿"
    - if @movies.present?
      .profile-section__grid
        - @movies.each do |movie|
          = link_to movie_path(movie), class: "profile-movie-card" do
            = image_tag movie.image_url, class: "profile-movie-card__image", alt: movie.title
            .profile-movie-card__overlay
              .profile-movie-card__title= movie.title
              .profile-movie-card__meta= movie.category
    - else
      %p.profile-section__empty まだ投稿がありません

  .profile-section
    %h2.profile-section__title いいねした映画
    - if @user.liked_movies.present?
      .profile-section__grid
        - @user.liked_movies.each do |movie|
          = link_to movie_path(movie), class: "profile-movie-card" do
            = image_tag movie.image_url, class: "profile-movie-card__image", alt: movie.title
            .profile-movie-card__overlay
              .profile-movie-card__title= movie.title
              .profile-movie-card__meta= movie.category
    - else
      %p.profile-section__empty まだいいねがありません